<p id="notice"><%= notice %></p>
<h1>Folder Tasks</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Description</th>
    <th>Due Date</th>
  </tr>

<% @folder.tasks.each do |ft| %>
  <tr>
    <td><%= ft.description %></td>
    <td><%= ft.duedate %></td>
    <td><%= link_to "Edit Task", edit_todouser_folder_task_path(@current_todouser,@folder,ft), class: "btn btn-default" %></td>
    <td><%= link_to 'Delete Task', [@current_todouser,@folder,ft], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<div class="btn-group">
<%= link_to "New Task", new_todouser_folder_task_path(@current_todouser,@folder), class: "btn btn-default" %> |
<%= link_to 'Edit', edit_todouser_folder_path(@current_todouser,@folder), class: "btn btn-default" %> |
<%= link_to 'Back', todouser_folders_path, class: "btn btn-default" %>
</div>
