<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if todouser_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_todouser_session_path, :method=>'delete') %>        
    </li>
    <li>
    <%= link_to("Show Tasks", [current_todouser, :folders]) %>        
    </li>
    <li>
    <%= link_to("Show Tasks", [current_todouser, :tasks]) %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_todouser_session_path)  %>  
    </li>
  <% end %>
  <% if todouser_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_todouser_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_todouser_registration_path)  %>
    </li>
  <% end %>
</ul>