<!DOCTYPE html>
<html>
<head>
  <title>Tododemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</header>
<%= yield %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "#{flash_class(name)}" %>
<% end %>
  
</body>
</html>
